* {
    font-family: Arial;
}
h1 {
    font-size: 25px;
    background-color: purple;
    color: white;
    text-align: center;
}
th {
    font-weight: bold;
    background-color: mediumvioletred;
    color: white;
    padding: 10px;
}

table, 
    th,
    td {
        border: 1px solid black;
        border-collapse: collapse;
    }
table {
    width: 100%;
}
td {
    text-align: center;
    padding: 5px;
}
.tag {
    font-family: monospace;
    background-color: #f2f2f2;
}
h5 {
    color: purple;
    font-family: monospace;
}